
@import 'tailwindcss';
@theme{
  --font-inter: 'Inter', sans-serif;
  --font-merriweather: 'Merriweather', serif;
  --font-lora: 'Lora', serif;
  --font-sans3: 'Source Sans 3', sans-serif;
}


:root {
  --color-bg: #ffffff;
  --color-bg-alt: #eaeaea;
  --color-bg-teriatory: #f6f6f6;
  --color-text: #222831;
  --color-text-alt: #646c76;
  --color-primary: #3b82f6;
  --color-primary-hover: #2563eb;
  --color-secondary: #2f4e4e;
  --color-accent: #10b981;
  --color-border: #e5e7eb;
  --border: 1px;
}

html[data-theme="dark"] {
  --color-bg: #0f172a;
  --color-bg-alt: #1e293b;
  --color-bg-teriatory: #1b1b1b;
  --color-text: rgb(234, 234, 234);
  --color-text-alt: #9ca3af;
  --color-primary: #60a5fa;
  --color-primary-hover: #3b82f6;
  --color-secondary: #6895a8;
  --color-accent: #34d399;
  --color-border: #334155;
  --border: 0px;
}


*{
  box-sizing: border-box;
}

/* .dark{
  background-color: var(--dark-mode);
  color: white;
} */

.scrollbar-hide::-webkit-scrollbar{
  scrollbar-width: none;
  scroll-behavior: smooth;
}


.button {
  background-color: var(--color-primary);
  color: white;
  transition-duration: 200ms;
}

.section{
  background-color: var(--color-bg);
  transition-duration: 200ms;

}

.card{
  background-color: var(--color-secondary);
  transition-duration: 200ms;

}

.section-alt{
  background-color: var(--color-bg-alt);
  transition-duration: 200ms;
}

.section-teriatory{
  background-color: var(--color-bg-teriatory);
  transition-duration: 200ms;
}

.text-color{
  color: var(--color-text);
  /* transition-duration: 200ms; */
}

.text-color-alt{
  color: var(--color-text-alt);
  /* transition-duration: 200ms; */
}

.input{
  background-color: var(--color-bg-alt);
  border:var(--border);
}